.filters {
  width: 100%;
  border: 1px solid #999;
  margin-bottom: 20px; }
  .filters__section {
    padding: 15px;
    border-bottom: 1px solid #999; }
    .filters__section:last-child {
      border-bottom: none; }
  .filters__block {
    display: flex;
    margin-bottom: 20px; }
  .filters__title {
    margin-top: 0;
    font-size: 17px; }
  .filters__label {
    display: flex;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px; }
    .filters__label:hover {
      color: #999; }
  .filters__text {
    margin-left: 10px; }
