@import "../../scss/variables";

.sidebar {
  background-color: $white-color;
  display: none;
  padding: 15px;
  &__mobile-header{
    width: 100%;
    min-height: 30px;
    @media screen and(min-width: $tablets){
      display: none;
    }
  }
  // &__btn-close{
  //   @media screen and(min-width: $tablets) {
  //     display: none;
  //   }
  // }
  &_sticky {
    position: sticky;
    top: 30px;
  }
  &_visible{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 100vw;
  }
  @media screen and(min-width: $tablets) {
    padding: 0 15px;
    display: flex;
    flex: 1 0 25%;
    flex-direction: column;
  }
}
