.form_register.form_modal#register-form
    .form__wrapper
        button.btn.btn_close#form-close
        h2.heading.heading_2.form__title Зарегистрироваться
        form.form
            input.form__elem.form__field(type="text" name="name" placeholder="Имя пользователя")
            input.form__elem.form__field(type="text" name="email" placeholder="E-mail")
            button.form__elem.form__button.btn.btn_base.btn_accent Войти
        p Уже зарегистрированы? 
            a#login-link(href="") Войти     