.form_login.form_modal#login-form
    .form__wrapper
        button.btn.btn_close#form-close
        h2.heading.heading_2.form__title Войти в личный кабинет
        form.form
            input.form__elem.form__field(type="text" name="login" placeholder="Логин")
            input.form__elem.form__field(type="text" name="password" placeholder="Пароль")
            button.form__elem.form__button.btn.btn_base.btn_accent Войти
        p Нет аккаунта? 
            a#register-link(href="") Зарегистрироваться     