mixin project-card
    .project-card
        a.link.project_card__link(href="project.html")
            .project-card__img-block
                img.project-card__img(src="img/project_1.jpg", alt="")
        .project-card__content
            a.link.project_card__link(href="project.html")
                h2.project-card__title Проект дома "Проект"
            .project-card__icons
                .project-card__icon_square
                    span 100 м2
            .project-card__price 2999000
