.sidebar
    .sidebar_sticky
        .sidebar__mobile-header
            button.sidebar__btn-close.btn_close.btn_close_dark
        include filters.pug
        button.btn.btn_outlined.btn_center#apply-filters Применить
