mixin social(text)
    .social(class=`social_${text}`)
        a.social__link.social__link_insta(href="https://www.instagram.com/divodom.ok/" class=`social__link_${text}`)
            if text !== 'no-text'
                p.social__text Мы в Инстаграм
        a.social__link.social__link_vk(href="https://vk.com/divodom_com" class=`social__link_${text}`)
            if text !== 'no-text'
                p.social__text Мы Вконтакте