.scroller {
  padding: 5px;
  visibility: hidden;
  opacity: 0;
  width: 38px;
  height: 38px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 20;
  transition: all 0.4s linear;
  border: 1px solid #261211;
  border-radius: 2px; }
  .scroller__btn {
    width: 100%;
    height: 100%;
    padding: 4px;
    background: url("img/icons/up-arrow.svg") center no-repeat;
    background-size: contain;
    cursor: pointer; }
    .scroller__btn:focus {
      outline: none; }
  .scroller_visible {
    visibility: visible;
    background-color: #fff;
    opacity: 1;
    transition: all 0.4s linear; }
  @media screen and (min-width: 767px) {
    .scroller {
      right: 38px;
      bottom: 38px; } }
